@{
    ViewData["Title"] = "Prva";
}



<div class="row">
    <div class="col-md-4">

        

        <form asp-controller="Customers" asp-action="Index">

            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Poišči stranko" aria-label="Search" aria-describedby="search-addon" name="SearchString"/>
                <button type="submit" class="btn btn-outline-primary" name="SearchString">Išči</button>
            </div>
</form>

    </div>
    <div class="col-md-4">
        <a href="Customers/Create" class="btn btn-outline-primary" role="button" >Dodaj novo Stranko</a>
    </div>
    <div class="col-md-4">
        
    </div>
</div>